
main {
    margin: 2px 0 0 30px;
}

#info {
    width: 925px;
}

path {
    stroke: #e2e2e2;
    stroke-width: 0.9;
    fill: none;
}

path.current, path.highlight.current {
    stroke: springgreen;
    stroke-width: 2;
}

.axis {
    stroke-width: 0.8;
    stroke: #000;
}

.xTicks, .yTicks {
    stroke-width: 0.6;
    stroke: #000;
}

.xlabel, .ylabel {
    font-weight: bold;
    color: gray;
}

.card {
    border: none !important;
}

.card-body {
    min-height: 120px;
    font-size: 12px;
    padding-bottom: 0;
}

.nav-pills {
    margin: 2px;
    font-size: small;
}

.nav-link {
    padding: 0.2rem 0.5rem;
}

.tooltip {
    background-color: aquamarine;
    border-radius: 10px;
    padding: 10px 10px 0 10px;
}

.bar {
    fill: aquamarine;
}

#details {
    padding: 10px auto;
}

.highlight {
    stroke: yellow;
    stroke-width: 8px;
}